# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django static files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# pycache anywhere
*/__pycache__/

# SQLite (si tienes uno local)
db.sqlite3

# OS files
.DS_Store
Thumbs.db
